@{
    ViewData["Title"] = "Home Page";
}
@model List<InternshipFinalProject>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
</head>
<body>
    <div class="text-center">
        @foreach (var item in Model)
        {
            <span>@item.Id</span>
            <span>@item.Baslik</span>

            <br />
        }
    </div>
</body>
</html>
